.navbar .megamenu {
  padding: 1rem;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .navbar .has-megamenu {
    position: static !important;
  }
  .navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
  }
}
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media (max-width: 991px) {
  .navbar.fixed-top .navbar-collapse,
  .navbar.sticky-top .navbar-collapse {
    overflow-y: auto;
    max-height: 90vh;
    margin-top: 10px;
  }
}
/* ============ mobile view .end// ============ */
#head-items-1 {
  height: 5.25rem !important;
  /* border: 2px solid red; */
}
.head-nav-item {
  color: aliceblue;
  text-decoration: none;
  padding-right: 1.25rem;
}

/* .dropdown:hover .dropdown-content {
  display: block;
} */

@media only screen and (max-width: 600px) {
  #head-items-1 {
    display: none !important;
  }
}
.brand-logo {
  height: 45px;
  width: auto;
}
.nav-item {
  color: #222222;
  padding-right: 20px;
}
.nav-sm-md-logo {
  height: 30px;
  width: auto;
}
.nav-link{
  color: #222222;
  font-size: 20px;
}